<div id="trip_expenses">
	<div class="title">
		Pending Expenses
	</div>

	<div class="item">
		<div class="amount">
			$100
		</div>

		<h3>Dinner #1</h3>
		
		<p>
			Dinner at Applebee's
		</p>

		<div class="clear"></div>
	</div>

	<div class="sub_item">
		<div class="amount">
			$50
		</div>

		William Le
	</div>

	<div class="sub_item">
		<div class="amount">
			$50
		</div>

		Richard Ton
	</div>

	<div class="item">
		<div class="amount">
			$100
		</div>

		<h3>Dinner #2</h3>
		
		<p>
			Dinner at Applebee's
		</p>

		<div class="clear"></div>
	</div>

	<div class="sub_item">
		<div class="amount">
			$50
		</div>

		William Le
	</div>

	<div class="sub_item">
		<div class="amount">
			$50
		</div>

		Richard Ton
	</div>

	<div class="title">
		Posted Expenses
	</div>

	<div class="item">
		<div class="amount">
			$100
		</div>

		<h3>Dinner #3</h3>
		
		<p>
			Dinner at Applebee's
		</p>

		<div class="clear"></div>
	</div>

	<div class="item">
		<div class="amount">
			$100
		</div>

		<h3>Dinner #4</h3>
		
		<p>
			Dinner at Applebee's
		</p>

		<div class="clear"></div>
	</div>
</div>