<div id="trip_chat" class="hide">
	<div id="chat_window">
		<% @trip.messages.each do |message| %>
			<div class="message">
				<%= "(#{message.created_at.strftime('%m/%d/%Y   %I:%M%p')}) #{full_name message.user}: #{message.body}" %>
			</div>
		<% end %>
	</div>

	<div id="chat_input">
		<input id="new_message" placeholder="Enter a new message ..." />
		<input id="message_button" type="button" value="Send" />
	</div>
</div>