<div id="full_background">
</div>

<div id="login_box">
	<h1>Log In</h1>

	<%= form_tag "/login" do %>
		<%= text_field_tag :login, nil, placeholder: "Username or Email" %>
		<br><br>
		<%= password_field_tag :password, nil, placeholder: "Password" %>
		<br><br>
		<%= submit_tag "Log In" %>
	<% end %>
</div>