$(document).ready(function(){
	$('.accept_trip').off().on('ajax:complete', function(e){
		var action = '';
		action += '<% if @users_trip %>';
			action += '<li>';
				action += '<%= link_to "#{@users_trip.user.username} | #{@users_trip.user.profile.email}", user_path(@users_trip.user) %>';
			action += '</li>';
		action += '<% end %>';

		$(e.currentTarget).closest('#invite_list').siblings("#member_list").append(action);
		$(e.currentTarget).closest('li').html('').hide();

		var message = '';
		message += '<% if flash[:notice] %>';
			message += '<div id="notice">';
				message += '<%= flash[:notice] %>';
			message += '</div>';
		message += '<% end %>';

		message += '<% if flash[:alert] %>';
			message += '<div id="alert">';
				message += '<%= flash[:alert] %>';
			message += '</div>';
		message += '<% end %>';

		$(e.currentTarget).closest('#container').before(message);
	});
});