$(document).ready(function(){
	$('.decline_trip').off().on('ajax:complete', function(e){
		$(e.currentTarget).closest('li').html('').hide();

		$(e.currentTarget).closest('.item').html('').hide();

		var message = '';
		message += '<% if flash[:notice] %>';
			message += '<div id="notice">';
				message += '<%= flash[:notice] %>';
			message += '</div>';
		message += '<% end %>';

		message += '<% if flash[:alert] %>';
			message += '<div id="alert">';
				message += '<%= flash[:alert] %>';
			message += '</div>';
		message += '<% end %>';

		$(e.currentTarget).closest('#container').before(message);
	});
});