// Layout Application

header{
	background-color: #7db4b5;
	text-align: center;

	#logo{
		color: #ffffff;
		float: left;
	}

	nav{
		display: inline-block;
		margin: 0;
		padding: 0;
		float: right;

		ul{
			display: inline-block;
			padding: 0;

			li{
				background-color: #ffffff;
				border-radius: 5px;
				margin: 0 10px;
				padding: 10px;
				list-style: none;
				display: inline-block;
			}

			li:hover{
				background-color: Gray;

				a{
					color: #ffffff;
				}
			}
		}
	}
}

#container{
	border-style: outset;
	background-color: #ffffff;	
	max-width: 950px;
	margin: 0 auto;
}

//Home Index

#full_background{
	background-image: url('/assets/desk.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	width: 100%;
	height: calc(100vh - 80px);
	position: absolute;
	z-index: -10;
}

#about{
	border: solid 1px black;
	background-color: #ffffff;
	height: 500px;
	position: relative;
	top: calc(100vh - 80px);
}

//Sessions New

#login_box{
	background-color: #7db4b5;
	color: #ffffff;
	width: 300px;
	height: 250px;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	position: relative;
	left: calc(50% - 150px);
	top: 100px;
}

//Users New

#signup_box{
	background-color: #7db4b5;
	color: #ffffff;
	width: 300px;
	height: 350px;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	position: relative;
	left: calc(50% - 150px);
	top: 100px;
}

//Users Index

.user{
	text-align: center;

	h1{
		margin-top: 42px;
	}
}

//Users Show

#user_show{
	text-align: center;
	margin-bottom: 20px;
}

#edit_button{
	margin: 20px 20px 0 0;
	float: right;
}

#user_labels{
	width: 49%;
	text-align: right;
	vertical-align: top;
	display: inline-block;
}

#user_information{
	width: 49%;
	text-align: left;
	vertical-align: top;
	display: inline-block;
}

//Profiles Edit

.profile{
	text-align: center;
}

#profile_edit{
	text-align: center;
	margin-bottom: 20px;
}

#profile_labels{
	width: 49%;
	text-align: right;
	display: inline-block;
}

#profile_inputs{
	width: 49%;
	text-align: left;
	display: inline-block;
}