// Layout Application

header{
	background-color: #7db4b5;
	text-align: center;

	#logo{
		color: #ffffff;
		float: left;
	}

	nav{
		display: inline-block;
		margin: 0;
		padding: 0;
		float: right;

		ul{
			display: inline-block;
			padding: 0;

			li{
				background-color: #ffffff;
				border-radius: 5px;
				margin: 0 10px;
				padding: 10px;
				list-style: none;
				display: inline-block;
			}

			li:hover{
				background-color: Gray;

				a{
					color: #ffffff;
				}
			}
		}
	}
}

#container{
	border-style: outset;
	background-color: #ffffff;	
	max-width: 950px;
	margin: 0 auto;
}

#notice{
	background-color: #00814c;
	max-width: 920px;
	font-size: 150%;
	padding: 0 15px;
	margin: 0 auto;
}

#alert{
	background-color: #ff6666;
	max-width: 920px;
	font-size: 150%;
	padding: 0 15px;
	margin: 0 auto;
}

.absolute{
	position: absolute;
	z-index: 0;
}

//Home Index

#full_background{
	background-image: url('/assets/desk.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	width: 100%;
	height: calc(100vh - 80px);
	position: absolute;
	z-index: -10;
}

#about{
	border: solid 1px black;
	background-color: #ffffff;
	height: 500px;
	position: relative;
	top: calc(100vh - 80px);
}

//Home Dashboard

.dashboard{
	h1{
		margin-left: 20px;
	}
}

#dashboard_nav{
	background-color: #ffffff;
	font-size: 150%;
	padding: 0px;
	margin: 20px 0 0 26px;
	list-style: none;
		
	.item{
		background-color: Steelblue;
		display: inline-block;
		-moz-margin-start: -8px;
		margin-left: -6px;
		padding: 10px;
	}

	.selected{
		background-color: Blue;
	}

	.item:hover{
		background-color: Blue !important;
	}
}

#invitation, #pending, #unpaid, #paid{
	border: solid 1px Gray;
	background-color:#ffffff;
	margin: 0 20px 20px 20px;
	min-height: 350px;

	a{
		font-size: 120%;
	}

	.item{
		background-color: #ffffff;
		font-size: 100%;
		padding: 10px 10px 10px 20px;
		border-style: none none solid none;
		border-width: 2px;
		border-color: LightGray;

		.drop_down{
			width: 25px;
			height: 25px;
		}

		.buttons{
			width: 200px;
			text-align: right;
			float: right;
		}
	}

	.sub_item{
		background-color: LightGray;
		font-size: 100%;
		padding: 5px 80px 0 50px;
		border-style: none none solid none;
		border-width: 1px;
		border-color: #ffffff;
	}
}

//Sessions New

#login_box{
	background-color: #7db4b5;
	color: #ffffff;
	width: 300px;
	height: 250px;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	position: relative;
	left: calc(50% - 150px);
	top: 100px;
}

//Users New

#signup_box{
	background-color: #7db4b5;
	color: #ffffff;
	width: 300px;
	height: 350px;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	position: relative;
	left: calc(50% - 150px);
	top: 100px;
}

//Users Index

.user{
	text-align: center;
}

//Users Show

#user_show{
	text-align: center;
	margin-bottom: 20px;
}

#edit_button{
	margin: 20px 20px 0 0;
	float: right;
}

#user_labels{
	width: 49%;
	text-align: right;
	vertical-align: top;
	display: inline-block;
}

#user_information{
	width: 49%;
	text-align: left;
	vertical-align: top;
	display: inline-block;
}

//Profiles Edit

.profile{
	text-align: center;
}

#profile_edit{
	text-align: center;
	margin-bottom: 20px;
}

#profile_labels{
	width: 49%;
	text-align: right;
	display: inline-block;
}

#profile_inputs{
	width: 49%;
	text-align: left;
	display: inline-block;
}

//Trip Index

.title{
	background-color: #a5a5a5;
	font-size: 175%;
	padding: 5px 0 0 20px;
	text-align: left;

	#new_trip_button{
		float: right;
		width: 37px;
		height: 37px;
		margin: 0 10px 5px 0;

		img{
			width: 100%;
		}
	}

	#open_trip_button, #edit_trip_button{
		float: right;
		height: 37px;
		margin: 0 10px 5px 0;
	}
}

#trip_list{
	border-style: outset;
	background-color: #ffffff;
	width: 30%;
	min-width: 170px;
	margin: 20px 2.5%;
	float: left;

	.trip_item{
		border-style: none none solid;
		border-width: 2px;
		border-color: LightGray;
		padding: 20px;
		text-align: left;

		a{
			font-size: 125%;
		}
	}
}

.end{
	width: 100%;
	padding-top: 17px;
	height: 33px;
	text-align: center;
}

#trip_overview{
	border-style: outset;
	background-color: #ffffff;
	width: 60%;
	margin: 20px 2.5% 20px 0;
	text-align: left;
	float: left;

	p,h2,h3,ol,form{
		margin: 20px;
	}
}

//Trips New

.trip{
	text-align: center;
}

#trip_new{
	margin-bottom: 20px;

	input[type="text"]{
		width: 300px;
		height: 30px;
		text-align: center;
	}

	textarea{
		width: 300px;
		height: 300px;
		resize: vertical;
	}
}

//Trips Show

#trip_nav{
	background-color: #ffffff;
	font-size: 150%;
	padding: 0px;
	margin: 20px 0 0 26px;
	list-style: none;
		
	.item{
		background-color: Steelblue;
		display: inline-block;
		-moz-margin-start: -8px;
		margin-left: -6px;
		padding: 10px;
	}

	.selected{
		background-color: Blue;
	}

	.item:hover{
		background-color: Blue !important;
	}
}

#trip_expenses{
	border: solid 1px Gray;
	background-color:#ffffff;
	margin: 0 20px 20px 20px;

	.title{
		background-color: Gray;
		font-size: 120%;
	}

	.item{
		background-color: #ffffff;
		font-size: 100%;
		padding: 0 10px 0 20px;
		border-style: none none solid none;
		border-width: 2px;
		border-color: LightGray;

		.amount{
			width: 50px;
			text-align: right;
			float: right;
		}
	}

	.sub_item{
		background-color: LightGray;
		font-size: 100%;
		padding: 5px 80px 0 40px;
		border-style: none none solid none;
		border-width: 1px;
		border-color: #ffffff;

		.amount{
			width: 50px;
			text-align: right;
			float: right;
		}
	}
}

#trip_chat{
	border: inset;
	background-color:#ffffff;
	margin: 0 20px 20px 20px;

	#chat_window{
		overflow-y: scroll;
		overflow-x: hidden;
		height: 350px;
		padding: 10px;
	}

	#chat_input{
		width: 100%;

		#new_message{
			width: 75%;
		}

		#message_button{
			width: 20%;
		}
	}
}

#trip_details{
	border: solid 1px Gray;
	background-color:#ffffff;
	margin: 0 20px 20px 20px;

	p,h2,h3,ol,form{
		margin: 20px;
	}
}